{{! Maintainers - Jerome Lam}}
<div class="component-inner table-inner">
    {{> component this}}
    <div class="component-widget table-widget">
      {{#if _table}}
        {{#with _table}}
          <table>
            {{#if _head}}
              {{#with _head}}
                <thead>
                  {{#each _rows}}
                    <tr>
                      {{#each this}}
                        <th {{#if _classes}}class="{{{_classes}}}"{{/if}} {{#if _rowspan}}rowspan="{{{_rowspan}}}"{{/if}} {{#if _colspan}}colspan="{{{_colspan}}}"{{/if}}>
                          {{~#if value~}}
                            {{{value}}}
                          {{~else~}}
                            {{~#ifObject this~}}
                              <span class="error">
                                Missing "value" attribute.
                              </span>
                            {{~else~}}
                              {{{this}}}
                            {{~/ifObject~}}
                          {{~/if~}}
                        </th>
                      {{/each}}
                    </tr>
                  {{/each}}
                </thead>
              {{/with}}
            {{/if}}
            {{#if _body}}
              {{#with _body}}
                <tbody>
                  {{#each _rows}}
                    <tr>
                      {{#each this}}
                        <td {{#if _classes}}class="{{{_classes}}}"{{/if}} {{#if _rowspan}}rowspan="{{{_rowspan}}}"{{/if}} {{#if _colspan}}colspan="{{{_colspan}}}"{{/if}}>
                          {{~#if value~}}
                            {{{value}}}
                          {{~else~}}
                            {{~#ifObject this~}}
                              <span class="error">
                                Missing "value" attribute.
                              </span>
                            {{~else~}}
                              {{{this}}}
                            {{~/ifObject~}}
                          {{~/if~}}
                        </td>
                      {{/each}}
                    </tr>
                  {{/each}}
                </tbody>
              {{/with}}
            {{/if}}
          </table>
        {{/with}}
      {{/if}}
    </div>
</div>
